<mat-card class="about-me-card">

    <img class="profile-image" src="https://goo.gl/koavnS">


    <div class="info-group">

        <div class="info">
            <span class="title">Age</span>
            <span class="info-content">{{ age }} Years old</span>
        </div>

        <div class="info">
            <span class="title">Experience</span>
            <span class="info-content">{{ experience }}</span>
        </div>

        <div class="info">
            <span class="title">Degree</span>
            <span class="info-content">{{ degree }}</span>
        </div>
    </div>
</mat-card>