@import 'variables';

.info-group {
    display: flex;
    flex-direction: column;
    max-width: 14rem;
}

.info {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.5rem 0;
}

.title {
    background-color: #32afc4;
    color: white;
    line-height: 1.4rem;
    font-size: 0.8rem;
    border-radius: 0.1rem;
    padding-left: 1rem;
}

.info-content {
    font-size: 0.8rem;
    color: $primary-dark;
    line-height: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.profile-image {
    border-radius: 50%;
    width: 100%;
}

.about-me-card {
    border-radius: 5px;
}