@import 'variables';

.presentation-header,
.presentation-footer {
    height: 5rem;

    > * {
        background-color: $primary;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main-content {
    flex-grow: 1;
    display: flex;

    article {
        flex-grow: 1;
    }
}

.aside-card {
    min-width: 261px;
}