<header class="presentation-header">
    <mat-card>
        <mat-icon>code</mat-icon>
        <label color="accent"> {{ name }}</label>
    </mat-card>
</header>

<main class="main-content">
    <aside class="aside-card">
        <app-about-me [age]="24"
            [experience]="'About 2 years'"
            [degree]="'Bachelor Degree - Computer Science'">
        </app-about-me>
    </aside>

    <article>
        <ng-template [ngIf]="horizontalStepper"
            [ngIfElse]="vertical">
            <mat-horizontal-stepper>
                <mat-step label="Past">
                    <app-past>
                    </app-past>
                </mat-step>
                <mat-step label="Present">
                    <app-present>
                    </app-present>
                </mat-step>
                <mat-step label="Future">
                    <app-present>
                    </app-present>
                </mat-step>
            </mat-horizontal-stepper>
        </ng-template>

        <ng-template #vertical>
            <mat-vertical-stepper>
                <mat-step label="Past">
                    <app-past>
                    </app-past>
                </mat-step>
                <mat-step label="Present">
                    <app-present>
                    </app-present>
                </mat-step>
                <mat-step label="Future">
                    <app-present>
                    </app-present>
                </mat-step>
            </mat-vertical-stepper>
        </ng-template>

    </article>
</main>

<footer class="presentation-footer">
    <mat-card>
        <strong> &nbsp;{{ message }}&nbsp; </strong>
    </mat-card>
</footer>