<header class="presentation-header">
    <mat-card color="primary">
        Thomaz Capra - Software Developer
    </mat-card>
</header>

<main class="main-content">
    <aside>
        <app-about-me>
        </app-about-me>
    </aside>

    <article>
        <mat-horizontal-stepper>
            <mat-step label="Past">
                Past
            </mat-step>
            <mat-step label="Present">
                Present
            </mat-step>
            <mat-step label="Future">
                Future
            </mat-step>
        </mat-horizontal-stepper>
    </article>
</main>

<footer class="presentation-footer">
    <mat-card>
        Footer
    </mat-card>
</footer>