@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e6ecf7;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    > * {
        margin: 1rem;
    }
}
